.top-left {
  text-align: left;
  padding-bottom: 1px;
  background-color: black;
}

.top-left a {
  text-decoration: none;
  color: white;
  padding-top: 8px;
  font-size: 13px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-transform: uppercase;
}

.top-left a:hover {
  transition: 0.7s;
  color: orange;
  text-shadow: 0 0 2px, 0 0 5px, 0 0 8px, 0 0 11px, 0 0 13px, 0 0 15px orange;
}

.top-right {
  text-align: right;
  padding-bottom: 1px;
  background-color: black;
}

.top-right a {
  text-decoration: none;
  color: white;
  padding-top: 8px;
  font-size: 13px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-transform: uppercase;
}

.top-right a:hover {
  transition: 0.7s;
  color: orange;
  text-shadow: 0 0 2px, 0 0 5px, 0 0 8px, 0 0 11px, 0 0 13px orange;
}

/*HEADING*/
.heading h1 {
  color: orange;
  font-family: "Days One", sans-serif;
  text-shadow: 2px 2px 3px rgb(2, 2, 2);
  margin-top: 10px;
  font-size: 3vw;
}

/*NAV BAR*/
.nav {
  background-color: orange;
  font-size: 20px;
  margin-top: -13px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Zen Kurenaido", sans-serif;
}

.nav1 {
  color: black;
  font-weight: 500;
}
.nav1:hover {
  transition: 0.7s;
  color: black;
  text-shadow: 0 0 1px, 0 0 5px, 0 0 8px black;
  background-color: rgb(241, 185, 81);
}

.shop {
  color: black;
  text-shadow: 0 0 2px black;
  border-radius: 20px;
}

.shop:hover {
  transition: 0.7s;
  color: orange;
  text-shadow: 0 0 2px, 0 0 5px, 0 0 8px, 0 0 11px, 0 0 13px, 0 0 15px orange;
  background-color: black;
}

/*NAV BAR*/

.admin{
font-family: "Quicksand", sans-serif;
color:black;
}

.list{
font-family: "Quicksand", sans-serif;
color:black;
font-size:25px;
}

.list:hover{
color:black;
padding:10px;
border-radius:10px;
background-color:orange;
transition: 0.5s linear;
}


/*FOOTER*/
.site-footer {
  font-family: "Zen Kaku Gothic New", sans-serif;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: orange;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.about {
  color: rgb(180, 180, 180);
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: rgb(180, 180, 180);
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: orange;
  text-shadow: 0 0 2px, 0 0 5px, 0 0 8px orange;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}

.copyright-text a:hover {
  color: orange;
  text-shadow: 0 0 2px, 0 0 5px, 0 0 8px orange;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: rgb(180, 180, 180);
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.instagram:hover {
  background-color: #c97b05;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*FOOTER*/
